.heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 0px;
    
    padding: 5px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color:#0D6EFD;
    width: 100%;
    box-sizing: border-box;
    padding-left: 18px;
    


}
.center{
    box-sizing: border-box;
    text-align: center;
    width : 300px;
    position: relative; left: 100px;;
    color: rgb(4, 0, 15);
    border-radius: 10px;
    padding: 8px;
    background-color: #0D6EFD;font-size: 15px;
    cursor: pointer;font-weight: 500;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.center:hover {background-color: rgb(235, 230, 236);color: black;}

.center:active {
  background-color: #0D6EFD;
  box-shadow: 0 0.5px #666;
  transform: translateY(1px);
}
.border {
    border: 0.5px solid #DDDDDD;
    height: 35px;
    width: 440px;
    position: relative;
    left:20px;
    top: 0px;
     border-radius: 0.2cm;
    padding-left: 12px;
     font-size: medium;
     padding-top: 0;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
    
.starlabel label:after {
    content:" *";
    color: red;
  }
    

.Text{
    position: relative;top: 0px;left:15px;
    margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.body{
    border: 1px solid #ddd;
    
    position: relative;top: 3vh;left: 5%;
    border-radius: 10px;


}
.line1{
    border-left: 1px solid #ddd;
    height: 90vh;
    width: 1px;
    position: relative;
    left: -20%;
    top:-100%;
}
    
