.heading{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 0px;
    padding: 8px;
    box-sizing: border-box;
    border-top-left-radius: 0.1cm;
    border-top-right-radius: 0.1cm;
    color: white;
    background-color:#0D6EFD;
    font-weight: 500;
    padding-left: 18px;


}
.border {
    border: 0.5px solid #DDDDDD;
    height: 35px;
    width: 440px;
    position: relative;
    left:0.5cm;
    top: -6px;
     border-radius: 0.2cm;
    padding-left: 12px;
     font-size: medium;
     padding-top: 0;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
.center{
    box-sizing: border-box;
    text-align: center;
    width : 300px;
    position: relative; left: 100px;;
    color: rgb(4, 0, 15);
    border-radius: 10px;
    padding: 8px;
    background-color: #0D6EFD;font-size: 15px;
    cursor: pointer;font-weight: 500;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.center:hover {background-color: rgb(235, 230, 236);color: black;}

.center:active {
  background-color: #0D6EFD;
  box-shadow: 0 0.5px #666;
  transform: translateY(1px);
}
.position{
    position: relative;
    top: 5vh;
    left: 57% ;
    border-radius: 0.1cm;
    
    
}
.size{
    position: absolute;
    top: 0;
    left: -700px;
    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmuePg7k-4Y1xgpOH1XI8wWuhYeScyGSz-08ADt3cC9oMEiziu9B_P9p278EnKt5NgFg&usqp=CAU) 30 repeat;
    
    
}

.errormsg{
    position: absolute;
    top: -30%;
    left: 30%;;
    width: 240px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    text-align: right;
    padding: 10px;
    background-repeat: no-repeat;
    border-radius: 5px;
    
}

::placeholder{
    color:light;
    font-size:15px;position: relative;top: 0;left: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    border: 1px solid #ddd;
    
    position: relative;top: 15vh;left: 5%;
    border-radius: 10px;


}
.line1{
    border-left: 1px solid #ddd;
    height: 56vh;
    width: 1px;
    position: relative;
    left: -20%;
    top:-110%;
}
    
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .success-msg{
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border-radius: 3px 3px 3px 3px;
    color: #270; font-size: larger;
    position: relative;right:-300px ; top:-500px ;
    text-align: center;
    background-color: #DFF2BF;}