.sizing{
    width: 100%;
}
.formposition{
    margin-top: 100px;
}
.head{
    padding: 8px;
    box-sizing: border-box;
    border-top-left-radius: 0.1cm;
    border-top-right-radius: 0.1cm;
    color: white;
    background-color:#0D6EFD;
    font-weight: 500;
    padding-left: 18px;
    width: 100%;

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 50px;
    margin-top: 5px;
}
h2{
    width: 44%;
    height: 40px;
}